.react-h5-audio-player {
  height: 72px;
  .flex {
    box-shadow: none !important;
    background-color: darken(#00939f, 20) !important;
    .progress-bar-wrapper {
      .indicator {
        opacity: 1 !important;
      }
      .audio-info {
        color: white;
      }
    }
  }
}
